container {
  background-color: lightgray;
}

h1 {
  text-align: center;
  padding: 10px;
  background-color: darkgoldenrod;
  margin-bottom: 40px;
}

.card {
  height: 620px;

  img {
    height: 68%;
  }
}
